* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    position: relative;
    padding: 30px 40px;
    list-style: none;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
}
  
.close:hover {
    background-color: #f44336;
    color: white;
}

.check {
    position: absolute;
    right: 40px;
    top: 0;
    padding: 11px 16px 12px 16px;
    border-radius: 5px;
}
  
.check:hover {
    background-color: #52c64c;
    color: white;
}

.edit {
    position: absolute;
    right: 85px;
    top: 0;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
}
  
.edit:hover {
    background-color: #e2e51a;
    color: white;
}

.undo {
    position: absolute;
    right: 133px;
    top: 0;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
}
  
.undo:hover {
    background-color: #1abce5;
    color: white;
}

.header {
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header h2 {
    color: black;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.addTask {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}
  
.addTask:hover {
    background-color: #bbb;
}